{% extends 'base.html.twig' %}

{% block title %}{{title|default()|trans }}{% endblock %}

{% block body %}

<button type="button" class="btn" style="top: 7rem;position: absolute;right: 7rem;background-color: #e8e8e8;">
  <a href=" {{ path('category_add')}} "> Add new category</a>
  </a>
</button>

<table class="table">

  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Category Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>

    {% for c in data %}
    <tr>
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>
        <a class="fa"  href="{{ path('category_edit', {'id': c.id}) }}"><i class="fa-solid fa-pencil"></i></a>
        <a class="fa"  href="{{ path('category_delete', {'id': c.id}) }}"><i class="fa-regular fa-circle-xmark"></i></a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}