{% extends 'base.html.twig' %}
{% block title %}E-lybrary | Book{% endblock %}
{% block body %}
<div>
    {% for book in data %}

    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <img src="{{upload_dir}}/{{book.cover}}" style="width: 260px; height: 380px">
        </div>
        <div class="p-2 bd-highlight">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Title</th>
                        <td>{{book.title}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Category</th>
                        <td>{{book.category}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Author</th>
                        <td>{{book.author}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Release Year</th>
                        <td>{{book.releaseYear}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Publishing House</th>
                        <td>{{book.publishingHouse}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        {% if book.price <=0 %} <td> - </td>
                            {% else %}
                            <td>{{book.price}} лв</td>
                            {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Views</th>
                        <td>{{book.views}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{book.description|raw}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="icons">

        {% if book.price <= 0 %} <button type="button" id="view" class="btn">
            <a href="{{upload_dir}}/{{book.PDF}}"> <i class="fa-solid fa-book-open-reader fa-2xl"></i></a>
            </button>
            <button type="button" id="download" class="btn">
                <a href="{{upload_dir}}/{{book.PDF}}" download>
                    <i class="fa-solid fa-file-arrow-down" style="font-size: 30px;"></i>
                </a>
            </button>

            {% else %}
            <button type="button" id="download" class="btn">
                <a href="{{ path('cart_add' ,{'id': book.id}) }}">
                    <i class="fa-solid fa-file-arrow-down fa-lg"></i>
                </a>
            </button>
            {% endif %}
    </div>
    {% endfor %}

</div>
<style>
    img {
        size: 300px 480px;
    }
</style>
{% endblock %}